.signup {
  background: #2d090f;
}
TextField {
  border-width: 0 0 1 0;
  border-color: rgb(236, 231, 231);
  placeholder-color: rgb(236, 231, 231);
  font-size: 14px;
  margin-bottom: 20px;
}
button {
  background: red;
}
